html * {
	font-family: 'Roboto', sans-serif;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: 'Roboto', sans-serif;
}

.error {
	color: rgba(217, 30, 24, 1.0);
	margin-bottom: 10px;
}

.margin-top-200 {
	margin-top: 200px;
}

.rounded-button {
	border-radius: 20px;
}

#logo {
	padding: 5px 20px 5px 20px;
}

#preview-pane {
	background: rgba(0, 0, 0, 0.1);
	border-right: 1px solid rgba(0, 0, 0, 0.2);
	height: 100%;
	overflow: auto;
}

#view-pane {
	overflow: auto;
}

#contacts-pane {
	border-left: 1px solid rgba(0, 0, 0, 0.2);
	height: 100%;
	overflow: auto;
}

#contacts-lbl {
	padding-left: 20px;
	padding-right: 20px;
	color: rgba(0, 0, 0, 0.5);
}

#threads-lbl {
	padding-left: 20px;
	padding-right: 20px;
	color: rgba(0, 0, 0, 0.5);
}

#contacts-box {
	padding: 0 20px 0 20px;
	color: rgba(0, 0, 0, 0.5);
}

.contact {
	padding: 10px 10px 10px 10px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
	font-size: 12px;
	cursor: pointer;
}

.contact:hover {
	background: rgba(0, 0, 0, 0.05);
}

#preview-box {
	color: rgba(0, 0, 0, 0.5);
}

.thread {
	padding: 10px 10px 10px 10px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
	cursor: pointer;
}

.thread:hover {
	background: rgba(0, 0, 0, 0.15);
}

.thread-participants {
	font-size: 12px;
	color: rgba(65, 131, 215, 1.0);
	font-weight: 600;
	margin-bottom: 5px;
}

.thread-subject {
	font-size: 12px;
	color: rgba(0, 0, 0, 0.5);
	font-weight: 600;
}

.thread-snippet {
	font-size: 11px;
	color: rgba(0, 0, 0, 0.4);
}

.num-thread-participants {
	font-size: 10px;
	font-weight: 500;
	color: rgba(0, 0, 0, 0.4);
}