html * {
	font-family: 'Roboto', sans-serif;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar-button {
	height: 0;
	width: 0;
}

::-webkit-scrollbar-track {
	background-clip: padding-box;
	border: solid transparent;
	border-width: 0 0 0 4px;
}

::-webkit-scrollbar-corner {
	background: transparent;
}

::-webkit-scrollbar {
	height: 16px;
	overflow: visible;
	width: 10px;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.1);
	background-clip: padding-box;
	border: 1px solid transparent;
	border-radius: 5px;
	min-height: 28px;
	padding: 100px 0 0;
}

.error {
	color: rgba(217, 30, 24, 1.0);
	margin-bottom: 10px;
}

.margin-top-200 {
	margin-top: 200px;
}

.rounded-button {
	border-radius: 20px;
}

#logo {
	padding: 5px 20px 5px 20px;
	color: rgba(0, 0, 0, 0.6);
}

#preview-pane {
	border-right: 1px solid rgba(0, 0, 0, 0.2);
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

#view-pane {
	overflow-y: auto;
	overflow-x: hidden;
	height: 100%;
	background: rgba(0, 0, 0, 0.02);
}

#send-box {
	height: 15%;
}

#send-input {
	margin: 10px;
	width: 97%;
	resize: none;
	font-size: 12px;
	height: 60px;
}

#contacts-pane {
	border-left: 1px solid rgba(0, 0, 0, 0.2);
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

#contacts-lbl {
	padding-left: 20px;
	padding-right: 20px;
	color: rgba(0, 0, 0, 0.5);
}

#threads-lbl {
	padding-left: 20px;
	padding-right: 20px;
	color: rgba(0, 0, 0, 0.5);
}

#contacts-box {
	padding: 0 20px 0 20px;
	color: rgba(0, 0, 0, 0.5);
}

.contact {
	padding: 10px 10px 10px 10px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
	font-size: 12px;
	cursor: pointer;
}

.contact:hover {
	background: rgba(0, 0, 0, 0.05);
}

#preview-box {
	color: rgba(0, 0, 0, 0.5);
}

.thread {
	padding: 10px 10px 10px 10px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
	cursor: pointer;
}

.thread:hover {
	background: rgba(0, 0, 0, 0.1);
}

.unread-thread {
	background: rgba(0, 0, 0, 0.05);
}

.read-thread {
	background: rgba(0, 0, 0, 0.05);
}

.selected-thread {
	background: rgba(255 ,255, 255, 1.0);
}

.selected-thread:hover {
	background: rgba(255 ,255, 255, 1.0);
}

.thread-participants {
	font-size: 12px;
	color: rgba(0, 0, 0, 0.6);
	font-weight: 600;
	display: inline;
}

.thread-subject {
	font-size: 12px;
	color: rgba(0, 0, 0, 0.4);
	font-weight: 600;
	margin-top: 5px;
	margin-bottom: 2px;
}

.thread-snippet {
	font-size: 11px;
	color: rgba(0, 0, 0, 0.4);
}

.num-thread-participants {
	font-size: 10px;
	font-weight: 500;
	color: rgba(0, 0, 0, 0.4);
}

.thread-time {
	font-size: 10px;
	color: rgba(0, 0, 0, 0.3);
	display: inline;
	float: right;
}

#page-logo-lbl {
	font-size: 108px;
	color: rgba(0, 0, 0, 0.05);
	text-align: center;
	font-weight: 700;
}

#page-logo-lbl:hover {
	color: rgba(0, 0, 0, 0.1);
}

#no-selection-lbl {
	font-size: 36px;
	color: rgba(0, 0, 0, 0.15);
	text-align: center;
	font-weight: 700;
}

#placeholder {
	margin-top: 170px;
}

#message-box {
	padding: 10px 20px 10px 20px;
}

.message {
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 20px;
	border-radius: 3px;
	margin-bottom: 20px;
	background: rgba(255, 255 ,255 ,1.0);
}

.message-header {
	margin-bottom: 10px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.message-sender-time {
	font-size: 12px;
	font-weight: 700;
	color: rgba(0, 0, 0, 0.4);
	margin-bottom: 5px;
}

.message-subject {
	font-size: 12px;
	font-weight: 700;
	color: rgba(0, 0, 0, 0.6);
	margin-bottom: 5px;
}

.mailx-sent-message {
	font-size: 12px;
	color: rgba(0, 0, 0, 0.5);
}