html * {
	font-family: 'Roboto', sans-serif;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: 'Roboto', sans-serif;
}

.error {
	color: rgba(217, 30, 24, 1.0);
	margin-bottom: 10px;
}

.margin-top-200 {
	margin-top: 200px;
}

.rounded-button {
	border-radius: 20px;
}

#logo {
	padding: 5px 20px 5px 20px;
}

#preview-pane {
	background: rgba(0, 0, 0, 0.1);
	border-right: 1px solid rgba(0, 0, 0, 0.2);
	height: 100%;
	overflow: auto;
}

#view-pane {
	overflow: auto;
}

#contacts-pane {
	border-left: 1px solid rgba(0, 0, 0, 0.2);
	height: 100%;
	overflow: auto;
}